default: &default
  adapter: postgresql
  encoding: unicode
  pool: 5

development:
  <<: *default
  database: books_development
  host: localhost

test:
  <<: *default
  database: books_test
  host: localhost

production:
  <<: *default
  host: postgres
  database: books_production
  username: <%= ENV['POSTGRES_USER'] %>
  password: <%= ENV['POSTGRES_PASSWORD'] %>
