default: &default
  host: 'localhost'
  user: 'guest'
  password: 'guest'
  port: 5672

development:
  <<: *default

test:
  <<: *default

production:
  <<: *default
  host: rabbitmq
  user: <%= ENV['RABBITMQ_USER'] %>
  password: <%= ENV['RABBITMQ_PASSWORD'] %>